#ignore everything
*

#unignore
!.gitignore
!LoadFolders.xml
!readme.md
!About/
!About/*.xml
!About/*.png
!About/*.txt
!1.6/
!1.6/**/*
!Assemblies/
!Assemblies/*
!Source/
!Source/*
!Source/**/*
!Languages/
!Languages/**/*

#ignore
Source/bin
Source/obj
Source/.*
